.main-container{
    background: #FAFAFA;
    border-color: #B0B0B0;
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    margin-top: 8px;
}
.side-menu {
    border-color: #B0B0B0;
    background: #FAFAFA;
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    margin-top: 10px;
    padding-top: 4px;
}
.side-menu-btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-group-vertical {
    width: 100%;
}

input{
	width: 100%;	
}

textarea{
	width: 100%;
}