.error-message-container {
    background: #FAFAFA;
    border-color: #B0B0B0;
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    padding-left: 5px;
    margin: 15px;
}