.question-container {
    background: #FAFAFA;
    border-color: #B0B0B0;
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    padding-left: 5px;
    margin: 2px;
    min-height: 9rem;
}

.question-row {
    height: 100rem;
}

.question-pos-rating{
    color: green;
    font-size: 0.8rem;
    margin:0px;
    padding: 0px;
}

.question-neg-rating{
    color: red;
    font-size: 0.8rem;
    margin:0px;
    padding: 0px;
}

.question-date {
    font-size: 0.9rem;
    color: #AAA;
}

.question-tag {
    background: #DADADA;
    border-color: #A0A0A0;
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;

    padding-right: 3px;
    padding-left: 3px;
    margin-right: 3px;
    color: black;
}

.question-tag:visited{
    color: black;
}

.question-tag:hover{
    color: black;
}

.question-tag:active{
    color: #707070;
}

.question-author-username:visited{
    color: black;
}

.question-author-username:hover{
    color: black;
}

.question-author-username:active{
    color: #707070;
}

li{
    display: inline-block;
}

ul{
    padding-left: 0px;
}

.answer-container {
    background: #FAFAFA;
    border-color: #B0B0B0;
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    padding-left: 5px;
    margin: 2px;
}

.author-img{
    width: 90%;
}
.comment-img{
    width: 60%;
}


.owner-button{
    width: 100%;
}

.btn-group-vertical{
    width: 100%;    
}

.close{
    max-height: 3rem;
}